<div class="jumbotron">
	<div class="container">
		<h1> Bamboo API </h1>
	</div>
</div>


<div class="container">
	<div class="row margin_top">
		<div class="col-md-6">
			<h4> Random Employee pulled from Bamboo HR demo: </h4>
			<p> <strong> Try viewing another random person by refreshing the page </strong> </p>
			
			<h5> Json: </h5>
			<p> <%= @json.inspect %> </p>

		</div>
	</div>

	<div class="row margin_top">
		<div class="col-md-6">
			<h4> Organized</h4>
			 <% [["Id:", @bamboo.id], ["Full Name:", @bamboo.fullName], ["Address:", @bamboo.fulladdress], ["Work Email:", @bamboo.workEmail], ["Work Phone:", @bamboo.workPhone]].each do |x| %>

				<p>  <strong><%="#{x[0]}" %></strong> <%="#{x[1]}" %> </p>

			<% end %>

		</div>
	</div>
</div>

<div class="container">
	<div class="row margin_top">
		<div class="col-md-6">
			<h4> Last Employee pulled from Bamboo HR demo: </h4>
			
			<h5> Json: </h5>
			<p> <%= @last.inspect %> </p>

		</div>
	</div>

	<div class="row margin_top">
		<div class="col-md-6">
			<h4> Organized</h4>
			  <% [["Id:", @last["id"]], ["Full Name:", @last["fullName1"]], ["Address:", @last["address1"]], ["Work Email:", @last["workEmail"]], ["Work Phone:", @last["workPhone"]]].each do |x| %>

				<p>  <strong> <%=x[0] %></strong> <%=x[1] %> </p>

			<% end %>
		</div>
	</div>
</div>


<div class="container">
	<div class="row margin_top">
		<div class="col-md-6">
			<h4> Add a new employee to BambooHR </h4>
			<p>POST request to BambooHR </p> 
			<p>See the last employee data above change from your form below </p>

			<%= form_for @person, url: persons_path, method: :patch do |f| %>

				<%= f.label "First Name" %> <br>
				<%= f.text_field :firstName %> <br>

				<%= f.label "Last Name" %> <br>
				<%= f.text_field :lastName %> <br>

				<%= f.label "Address" %> <br>
				<%= f.text_field :address %> <br>

				<%= f.label "City" %> <br>
				<%= f.text_field :city %> <br>

				<%= f.label "State" %> <br>
				<%= f.text_field :state %> <br>

				<%= f.label "workEmail" %> <br>
				<%= f.text_field :workEmail %> <br>

				<%= f.label "workPhone" %> <br>
				<%= f.text_field :workPhone, placeholder: "xxx-xxx-xxx" %> <br>

				<%= f.submit "Submit"%>
			<% end %>

			<% if flash[:success] %>
				<h5> <%= flash[:success] %>
			<% end %>
		</div>
	</div>
</div>