<div class="jumbotron">
	<div class="container">
		<h1> Use Yelp to find the Shops nearest to your place! </h1>
	</div>
</div>

<div class="container">
	<div class="row">
		<div class="col-md-6">
			<h3> Welcome to Yelp API </h3>

			<h5> Use the bottom form to locate surrounding businesses, relevant to your search term, around a particular location. </h5>

			<p> You must also sort by best match, distance, or rating. Note that rating isn't just pure total # of reviews, it is based on a balance of total reviews and rating value</p>

		</div>

		<div class="col-md-6" style ="text-align: center;">
			<h3> Yelp Search Business Results: </h3>
		</div>
	</div>
</div>


<div class="container">
	<div class="row margin_top">
		<div class="col-md-6">
			<%= form_for :yelper, url: yelpers_path, method: :patch do |f| %>

				<%= f.label :term, "Search Term" %> <br>
				<%= f.text_field :term %> <br>

				<%= f.label "Address" %> <br>
				<%= f.text_field :address %> <br>

				<%= f.label "City" %> <br>
				<%= f.text_field :city %> <br>

				<%= f.label "State" %> <br>
				<%= f.text_field :state, placeholder: "CA - 2 letters" %> <br>

				<%= f.label :limit, "Limit # of Result To:" %> <br>
				<%= f.number_field :limit, placeholder: "1-25" %> <br> <br>

				<%= f.label "Sort By" %> <br>
				<%= f.select(:sort, [["Best Match", "0"],["Distance", "1"], ["Rating", "2"]], {}) %> <br> <br>

				<%= f.submit "Submit" %>

			<% end %>

			<% if flash[:success] %>
				<p> <%= flash[:success] %> </p>
			<% end %>

		</div>

		<div class="col-md-6">

			<% @yelpz.each_with_index do |x, y| y+=1%>
				<div class = "yelp_listing">
					<h3> Business Number <%= y %> </h3>
					<h4> <strong>Shop Name: </strong> <%= x.name %> </h4>
					<h5> <strong>Address: </strong> <%= x.location.address[0] %> </h5>
					<h5> <strong>City: </strong><%= x.location.city %> </h5>
					<h5> <strong>State: </strong><%= x.location.state_code %> </h5>
					<h5> <strong>Yelp Rating: </strong> <%= x.rating %> </h5>
					<h5> <strong># of Yelp Reviews: </strong> <%= x.review_count %> </h5>
					<h5> <strong>Distance: </strong> <%= '%.2f' % to_miles(x.distance) %> Miles </h5>
					<h5> <strong>Phone Number: </strong> <%= x.display_phone %> </h5>
				</div>
			<% end %>
		</div>
	</div>
</div>


